<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h3 class="mt-3 mb-3">送信が完了しました</h3>
      <p>内容は以下の通りです</p>
      [タイトル]<p class="font-weight-bold"><%= @mail_title %></p>
      [本文]<p class="font-weight-bold"><%= safe_join(@mail_content.split("\n"),tag(:br)) %></p>
    </div>
  </div>
</div>